<header class="blog-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #fff;" role="navigation">
        <a class="btn btn-primary" href="{{ .Site.BaseURL | relLangURL }}">{{ partial "brand" . }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between ml-sm-3" id="navbarNav">
            <ul class="navbar-nav">
                {{ $url := .URL | relLangURL }}
                {{ range .Site.Menus.main }}
                <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
                    <a class="nav-link btn" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
	    <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
    	</div>
    </nav>
    <div class="jumbotron blog-title-image" style="background: url('{{ .Site.Params.titleImage }}'),radial-gradient(circle at 50%, #888 10%, #222 60%, #333 80%); background-size: cover; background-blend-mode: color-dodge; background-position: 80% 88%; min-height: 300px;">
    </div>
</header>
