<div class="blog-post-sharing text-secondary">
    <strong>{{ i18n "share" }}</strong>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/home?status={{ .Permalink }}"><i class="fab fa-twitter" target="_blank"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
</div>
